@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 38% 15%;
    --foreground: 0 0% 100%;
    --card: 285 38% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 285 38% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 240 67% 94%;
    --primary-foreground: 285 38% 15%;
    --secondary: 285 38% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 285 38% 25%;
    --muted-foreground: 240 50% 80%;
    --accent: 240 67% 94%;
    --accent-foreground: 285 38% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 285 38% 25%;
    --input: 285 38% 25%;
    --ring: 240 67% 94%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 8px hsl(var(--primary)), 0 0 20px hsl(var(--accent) / 0.5);
  }
}
